<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=i, initial-scale=1.0" />
		<title>Document</title>
		<script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>
	</head>
	<body>
		<div id="app">
			<p>{{ message }}</p>
			<!-- <p v-for="(emp, index) in computedEmployees1()">{{emp}}</p> -->
			<p v-for="(emp, index) in computedEmployees2">{{emp}}</p>
			<p>{{counter}}</p>
			<span :title="message"> Hover your mouse over me for a few seconds to see my dynamically bound title! </span>
			<span v-if="seen">Now you see me</span>
			<p v-for="[a,...c] in [[2,4,6]]">{{c}}</p>
			<!-- <button v-on:click="addEmployee">Reverse Message</button> -->
			<button @click="addEmployee('Yahya')">Çalışan Ekle</button>
			<input v-model="message" />
			<input :value="message" @input="message = $event.target.value" />
		</div>
		<script>
			var app = new Vue({
				el: "#app",
				data: {
					seen: true,
					message: "Hello Vue!",
					employees: [
						{
							firstName: "ali",
							lastName: "şireli"
						},
						{
							firstName: "adem",
							lastName: "şireli"
						},
						{
							firstName: "tahir",
							lastName: "şireli"
						}
					],
					counter: 0
				},
				computed: {
					computedEmployees2() {
						console.log("computedEmployees2");
						console.log(this.counter);
						return this.employees.map((employee) => `${employee.firstName} ${employee.lastName}`);
					}
				},
				methods: {
					computedEmployees1(item) {
						console.log("computedEmployees1");
						return this.employees.map((employee) => `${employee.firstName} ${employee.lastName}`);
					},
					addEmployee(firstName) {
						this.employees.push({ firstName, lastName: "Şireli" });
					}
				}
			});
		</script>
	</body>
</html>
