<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<title>Document</title>
		<script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>
	</head>
	<body>
		<div id="app">
			<ol>
				<todo-item v-for="todo in groceryList" :todo="todo"></todo-item>
			</ol>
		</div>
		<script>
			const todoItem2 = {
				template: "<li>This is a todo 2</li>"
			};
			Vue.component("todo-item", {
				props: ["todo"],
				template: "<li>{{todo.text}}</li>"
			});

			var app = new Vue({
				el: "#app",
				components: {
					todoItem2
				},
				data: {
					groceryList: [
						{ id: 0, text: "Vegetables" },
						{ id: 1, text: "Cheese" },
						{ id: 2, text: "Whatever else humans are supposed to eat" }
					]
				}
			});
		</script>
	</body>
</html>
