<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<title>Document</title>
		<script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>
	</head>
	<body>
		<div id="app">
			<p>{{ foo }}</p>
			<!-- this will no longer update `foo`! -->
			<button v-on:click="foo = 'baz'">Change it</button>
		</div>
		<script>
			var obj = {
				foo: "bar"
			};
			Object.freeze(obj);
			var app = new Vue({
				el: "#app",
				data: obj
			});

            
		</script>
	</body>
</html>