<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<title>Document</title>
		<script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>
	</head>
	<body>
		<div id="app">
			<basket v-if="show"></basket>
			<product-create></product-create>
			<button @click="show=!show">Göster</button>
		</div>
		<script>
			const eventBus = new Vue();
			const Basket = {
				template: `
					<h1>{{totalPrice}}</h1>
				`,
				data: vm => ({
					products: []
				}),
				computed: {
					totalPrice() {
						return this.products.reduce((acc, product) => acc + product.price, 0);
					}
				},
				methods: {
					productAddedHandler(products) {
						console.log("productAddedHandler");
						this.products = [...products];
					}
				},
				created() {
					eventBus.$on("productAdded", this.productAddedHandler);
				},
				beforeDestroy() {
					eventBus.$off("productAdded", this.productAddedHandler);
				}
			};
			const ProductCreate = {
				template: `
					<button @click="addProduct">Sepete Ürün Ekle</button>
				`,
				data: vm => ({
					products: []
				}),
				methods: {
					addProduct() {
						this.products.push({
							price: Math.floor(Math.random() * 100) + 10
						});
						eventBus.$emit("productAdded", this.products);
					}
				}
			};
			var app = new Vue({
				components: {
					Basket,
					ProductCreate
				},
				el: "#app",
				data: {
					show: false
					// products: []
				}
			});
		</script>
	</body>
</html>
