<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<title>Document</title>
		<script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>
	</head>
	<body>
		<div id="app">
			<basket :products="products"></basket>
			<product-create :products="products"></product-create>
		</div>
		<script>
			const eventBus = new Vue();
			const Basket = {
				props: ["products"],
				template: `
					<h1>{{totalPrice}}</h1>
				`,
				data: vm => ({
					// products: []
				}),
				computed: {
					totalPrice() {
						return this.products.reduce((acc, product) => acc + product.price, 0);
					}
				},
				methods: {
					// productAddedHandler(products) {
					// 	this.products = [...products];
					// }
				},
				created() {
					eventBus.$on("productAdded", function () {});
				}
			};
			const ProductCreate = {
				props: ["products"],
				template: `
					<button @click="addProduct">Sepete Ürün Ekle</button>
				`,
				data: vm => ({
					innerProducts: []
				}),
				methods: {
					addProduct() {
						this.products.push({
							price: Math.floor(Math.random() * 100) + 10
						});
						// eventBus.$emit("productAdded", this.products);
					}
				}
			};
			var app = new Vue({
				components: {
					Basket,
					ProductCreate
				},
				el: "#app",
				data: {
					products: []
				}
			});
		</script>
	</body>
</html>
